<strong>Olá, {{ meetupCreator }}</strong> <br />

<p>Temos uma ótima notícia para você!</p><br />

<p>O usuário: <strong>{{ userName }}</strong> com email: <strong>{{ userEmail }}</strong> acabou de se inscrever no
  Meetup que você criou.
  Não se esqueça de comunicar qualquer imprevisto.</p><br />

<p>
  Título: <strong>{{ title }}</strong><br />
  Data/Hora: <strong>{{ date }}</strong><br />
  Local: <strong>{{ location }}</strong><br />
</p>
